.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2463px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 99px 83px 0 99px;
}

.u-section-1 .u-line-1 {
  width: 878px;
  top: 185px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 99px 91px 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 92px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 23px 91px 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 228px;
  width: 981px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 16px 91px 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 228px;
  width: 958px;
  margin: 36px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px 91px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 29px 91px 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 228px;
  width: 958px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 36px 91px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 23px 91px 0;
}

.u-section-1 .u-custom-html-4 {
  min-height: 228px;
  width: 958px;
  margin: 29px auto 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    left: auto;
    right: 164px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    margin-bottom: 0;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 330px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 54px 67px 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}